* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #ffcab1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2% 20% 5% 20%;
}
.card-style {
  margin-bottom: 2%;
  background-color: white;
  border-radius: 2%;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  padding: 1%;
  flex: 0 30%;
}

img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;
}

h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.075rem;
}
.descriptor {
  text-align: justify;
}
h3 {
  background-color: #afcbff;
  color: #ffffff;
}

.spec-font {
  font-size: 75%;
  font-weight: bold;
}

h4 {
  font-weight: normal;
}

footer {
  font-size: 0.7rem;
}

h5 {
  font-weight: normal;
  font-size: 1rem;
}

.football-img {
  position: relative;
}

.sold-out-img {
  position: absolute;
  top: 6rem;
  left: 3rem;
  width: 75%;
  opacity: 0.9;
}

.img-container {
  position: relative;
}
