* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #607D8B;
  display: flex;
  flex-wrap: wrap;
  max-width: 90rem;
  min-width: 90rem;
}
.card-style {
  border: solid 1px #BDBDBD;
  width: 20rem;
  box-shadow: .25rem .25rem .25rem #455A64;    
  margin: 2rem;
  background-color: #CFD8DC;
  border-radius: 2%;
  color: #212121;
  font-family: 'Open Sans', sans-serif;
}
img {
  height: 14rem;
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .05rem;
  font-size: 1.75rem;
}
.descriptor {
  text-align: justify;
}
h3 {
  background-color: #FFC107;
  color: #FFFFFF;
}

.spec-font {
  font-size: .83rem;
  font-weight: bold;
}

h4 {
  font-weight: normal;
}

footer {
  font-size: .7rem;
}

h5 {
  font-weight: normal;
  font-size: 1rem;
}
